@import "../../../settings";
@import "compass/reset";
@import "compass";
@import "../../../base";
@import "../../fontello/mod";


// Module settings

$vm-item-color:#6B6A67;
$vm-item-bg:#EFEEE4;
$vm-item-height:55px;
$vm-border-color: #E6E5DB;
$vm-border-width:1px;
$vm-left-border-width:5px;

$vm-menu-width: 300px;

$vm-item1-color: #D6484C;
$vm-item2-color: #3093D9;
$vm-item3-color: #60AD5C;
$vm-item4-color: #5A4195;
$vm-item5-color: #2D4A9D;
$vm-item6-color: #D88F36;
$vm-item7-color: #904D50;
$vm-item8-color: #539182;
$vm-item9-color: #545454;
