

//@import "settings"; //Comment this in production, make sure to include the module specific variables in the engine settings file


body{
	overflow-y:hidden;
	-webkit-animation: bugfix infinite 1s;
	@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }
}


		.verticalMenuContainer input[type=checkbox]:checked #content{
	    	background: #fff !important;
	    }


.verticalMenuContainer{
	/* Advanced Checkbox Hack */
	height: 100%;
	

		.menu-icon{
		    line-height:  $vm-item-height;
		    position: absolute;
		    text-align: center;
		    width:  $vm-item-height;
		    height: $vm-item-height;
		    z-index: 1;
			left: 0;
			background: $vm-item-bg;
			border: $vm-border-width solid $vm-border-color;
			@include box-shadow(0 1px 5px darken($vm-item-bg, 40%));
			@extend .pointer;
			@extend .animateAll;
			//opacity: 0;
		}
		

		input[type=checkbox] {
		  position: absolute;
		  top: -9999px;
		  left: -9999px;
		}
		label { 
		  cursor: pointer;
		  user-select:none;
		}
	// Media queries
	@extend .animateAll;
	@media screen and (max-width: 480px) {
		
		
			
			width: 0;
		

		label:after {
	      
	      	content:"\2261";
	      	font-size:1.8em;
	    }
	    
	    input[type=checkbox]:checked ~ label {
	      	background:darken($vm-item-bg,5%);
	      	color:darken($vm-item-color, 30%);
	      	margin-left: 300px;

	    }

	    
	        
	    input[type=checkbox]:checked ~ section .verticalMenu {
	      	width:300px ;      
	    }
	}

	@media screen and (min-width: 480px){
		width:$vm-menu-width;
	}

	section[data-module='verticalMenu']{
		
		* {
		   box-sizing:border-box; 
		}

		max-width: $vm-menu-width;
		width:100%;
		height:100%;
		@extend .animateAll;
		.verticalMenu{
			height: 100%;
			position: relative;

			ul{
				width:100%;
				height: 100%;
				background: $vm-item-bg;
				border-right:$vm-border-width solid $vm-border-color;
				@include box-shadow(0 1px 5px darken($vm-item-bg, 40%));
				overflow: hidden;
				@extend .animateAll;
				position: relative;
				z-index: 2;
			}
			li{
				font-family:$defaultFont;
				color:$vm-item-color;
				width:100%;
				background: $vm-item-bg;
				@extend .clearfix;
				@extend .animateAll;

				list-style:none;
				
				border-bottom:$vm-border-width solid $vm-border-color;
				.text{
					line-height: $vm-item-height;
					display: block;
					padding-left: 20px;
					float:left;
					text-transform: uppercase;
					@extend .animateAll;
				}
				a{
					color:$vm-item-color;
				}
				&:hover{
					background: lighten($vm-item-bg, 2%);
					@extend .pointer;
					.icon 	{color:#fff;}

				}
				height:$vm-item-height;


				&:nth-child(1) .icon  	{border-left: $vm-left-border-width solid $vm-item1-color;}
				&:nth-child(2) .icon  	{border-left: $vm-left-border-width solid $vm-item2-color;}
				&:nth-child(3) .icon  	{border-left: $vm-left-border-width solid $vm-item3-color;}
				&:nth-child(4) .icon  	{border-left: $vm-left-border-width solid $vm-item4-color;}
				&:nth-child(5) .icon  	{border-left: $vm-left-border-width solid $vm-item5-color;}
				&:nth-child(6) .icon  	{border-left: $vm-left-border-width solid $vm-item6-color;}
				&:nth-child(7) .icon  	{border-left: $vm-left-border-width solid $vm-item7-color;}
				&:nth-child(8) .icon  	{border-left: $vm-left-border-width solid $vm-item8-color;}
				&:nth-child(9) .icon  	{border-left: $vm-left-border-width solid $vm-item9-color;}

				&:nth-child(1):hover .icon 	{background: $vm-item1-color;}
				&:nth-child(2):hover .icon 	{background: $vm-item2-color;}
				&:nth-child(3):hover .icon 	{background: $vm-item3-color;}
				&:nth-child(4):hover .icon 	{background: $vm-item4-color;}
				&:nth-child(5):hover .icon 	{background: $vm-item5-color;}
				&:nth-child(6):hover .icon 	{background: $vm-item6-color;}
				&:nth-child(7):hover .icon 	{background: $vm-item7-color;}
				&:nth-child(8):hover .icon 	{background: $vm-item8-color;}
				&:nth-child(9):hover .icon 	{background: $vm-item9-color;}
			}
			.icon{
				height:100%;
				line-height: $vm-item-height;
				width:$vm-item-height;
				padding:0 5px 0 0;
				font-size: 1.3em;
				border-right: $vm-border-width solid $vm-border-color;
				display: block;
				text-align: center;
				@extend .floatL;
				@extend .animateAll;
			}	
		}
	}
} // .verticalMenuContainer