
/*
  ................
  |   BASE   |
  ................

  About this file:

  All the base styling is defined here using the variables declared in
  settings.

*/

/**
 * Correct `block` display not defined in IE 8/9.
 */


  html, body{
     margin:0;
     height:100%;
     background:$defaultBg;
     font-size: $defaultFontSize;
  }

  body, p{
    font-family: $defaultFont;
    font-size: $defaultFontSize;
    color:$defaultFontColor;
    
    letter-spacing: $defaultLetterSpacing
  }

  a{
    @include link-colors($linkNormal, $linkHover, $linkActive, $linkVisited, $linkFocus);
    text-decoration: none;
     outline: 0;  
     &:hover{
      @extend .pointer;
     }
     &:focus{
      @extend .noOutline;
     }
  }

  p{
    margin:$defaultMargin 0;
  }
  strong{
    font-weight: bold;
    color:$black;
  }



  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  *,
  *:before,
  *:after {
    @include box-sizing(border-box);
  }

  img,
  object,
  embed {
    max-width: 100%;
    height: auto;
  }
  object,
  embed {
    height: 100%;
  }
  img {
    -ms-interpolation-mode: bicubic;
    @extend .inline;
    vertical-align: middle;
  }
  ol{
    list-style: decimal;
    list-style-position: inside;
  }
  /* ..-------------------------------------------------------...
  |                         HEADER                             |
  |..--------------------------------------------------------..|*/

  header, body > .header{
    color:$headerFontColor;

    background: $headerBgImage;
    @if $headerIsGradient{
      @include filter-gradient($headerBg, $headerBgBottom, vertical); // IE6-9
      @include background-image(linear-gradient($headerGradientPosition, $headerBg, $headerBgBottom )); 
    } @else {
      background-color: $headerBg;
      
    }
    .logo{
      background:url($logoSrc) no-repeat;
      width:$logoWidth;
      height:$logoHeight;
    }
    .menu{
      background: $menuBg;
      font: $menuFont;
      font-size: $menuFontSize;
      letter-spacing: $menuLetterSpacing;
      
      ul li{
        display:inline;
        
        font-family:$menuFont;
        color:$menuFontColor;
        &.selected{
          background: lighten($menuBg, 13%);
          @include box-shadow(inset 0 0 10px $menuBg);
        }
        display: block;
        @extend .floatL, .pointer;
        a{
          font-family:$menuFont;
          color:$menuFontColor;
          padding:$defaultPadding *1.3 $defaultPadding*2.2;
          display: block;
        }
        &:hover{
          background: lighten($menuBg, 10%);
        }
      }
    }
    .search{
      line-height: $headerHeight;
      &:after{
        content:'\xEE';
        font-family: fontello;
      
      }
    }
  }

 /* ..-------------------------------------------------------...
  |                         CONTENT                             |
  |..--------------------------------------------------------..|*/
  
  .content{
  background: $contentBg;
  font: $defaultFont;
  font-size:$defaultFontSize;
  color:$defaultFontColor;
  }

  .sidebar{
    background: $sidebarBgColor;
  }

   /* ..-------------------------------------------------------...
  |                         HEADINGS                           |
  |..--------------------------------------------------------..|*/

  h1,h2,h3,h4,h5,h6{
  font-family: $headingFont;
  font-weight: $headingFontWeight;

  }
  h1{
  font-size: $h1FontSize;
  color:$h1Color;
  }
  h2{
  font-size: $h1FontSize * 0.8;
  color:$h2Color;
  }
  h3{
  font-size: $h1FontSize * 0.55;
  color:$h3Color;
  }
  h4{
  color:$h4Color;
  font-size: $h1FontSize * 0.45;
  }
  h5{
  color:$h5Color;
  font-size: $h1FontSize * 0.35;
  }
  h6{
  color:$h6Color;
  font-size: $h1FontSize * 0.29;
  }
   /* ..-------------------------------------------------------...
  |                         FORMS: ;                           |
  |..--------------------------------------------------------..|*/
  
  
    input, textarea{
      @include box-sizing(border-box);
      padding:$defaultPadding;
      border:$inputBorder;
      &:hover{
        background: $inputBgHover;
      }
      &:focus{
        background: $inputBgFocus;
      }
    }
      :focus {
          outline:0;
          outline:none;
    }
    textarea {
      height: auto;
      min-height: 50px;
    }

   /* ..-------------------------------------------------------...
  |                         FOOTER                             |
  |..--------------------------------------------------------..|*/

  footer, .footer{

    background: $footerBgColor;
    font: $footerFont;
    font-size: $footerFontSize;
    
    .menu{
      font-family: $footerMenuFont;
      color:$footerMenuFontColor;
      font-size:$footerMenuFontSize;
    }
    .logo{
      line-height: $headerHeight;
      background: url($logoFooterSrc) !important;
      width:$logoFooterWidth !important;
      height:$logoFooterHeight !important;
    }
  }

  