/*

 ................
  |   SETTINGS   |
  ................

  About this file:

  In this file you will be able to modify the whole look and feel
  of the whole project only by changing the values of the variables
  defined below.
*/
/* ..-------------------------------------------------------...
  |                         COLOR PALETTE                      |
  |..--------------------------------------------------------..|*/

  $color1: #9DCC47;
  $color2: #1196D9;
  $color3: #770000;
  $white: #fefefe;
  $black: #333;
  $orange:  #ffc22f;
  $gray:  #999;
  $defaultBg: $white;
  $borderColor: lighten($gray, 20%);

  $red: #773300;
  $green: #2C944A;
  $blue: #0662BD;
  
/* ..-------------------------------------------------------...
  |                         HEADER                             |
  |..--------------------------------------------------------..|*/
  
$headerBg: #fff;
$headerHeight:90px;
$headerBgImage: none;
$headerIsGradient: false;
$headerBgBottom: transparent; //Bottom color for the header
$headerGradientPosition: top;
$headerFontColor: #333;

$logoSrc: '../images/logo.png';
$logoWidth: 343px;
$logoHeight: 90px;

  /*...................Main Menu.....................*/
  $menuBg: $color1;
  $menuFont: 'Quattrocento Sans', sans-serif;
  $menuFontSize: 1em;
  $menuLetterSpacing: 1px;
  $menuFontColor: $white;



/* ..-------------------------------------------------------...
  |                         CONTENT                            |
  |..--------------------------------------------------------..|*/

$contentBg: $white;
$defaultFont: "Quattrocento Sans", sans-serif;
$alternativeFont: "Roboto Slab";

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.

$defaultFontSize: 100%;
$em-base: 16 !default;

$defaultFontColor: #444444;
$defaultLetterSpacing: 0;

$defaultBorderRadius: 7px;
$defaultPadding: 0.8em;
$defaultMargin: 10px;


  /*...................Links.....................*/

  $linkNormal: #255FA7;
  $linkHover: lighten($linkNormal, 10%);
  $linkActive: saturate($linkHover, 40%);
  $linkVisited: saturate($linkNormal, 10%);
  $linkFocus:lighten($linkHover, 10%);
  
  /*...................Sidebar.....................*/

  $sidebarBgColor: #EEEEEE;

  /*...................Headings.....................*/
  $headingFont: $defaultFont ;
  $headingFontWeight: normal;
  
  $h1FontSize: 300%;

  $h1Color: $black;
  $h2Color: $h1Color;
  $h3Color: $h1Color;
  $h4Color: $h1Color;
  $h5Color: $h1Color;
  $h6Color: $h1Color;



  /*...................Buttons.....................*/

  $btnFont:bold 12px / 15px sans-serif;
  $btnPadding: $defaultPadding;

  $btnIsGradient: true;   // Do you want a gradient?
  $btnGradientPosition: top;
  $btnIsRounded: true; // Rounded Buttons?
  $btnRoundness: $defaultBorderRadius;

  /* Hover states */

  $btnHoverLightness: 10%; //How lighter is the button color on hover

  $btnDefaultBg: #3F83D6;
  $btnDefaultColor: $white;
  $btnSaveBg: green;
  $btnSaveColor: $white;
  $btnCancelBg: $gray;
  $btnCancelColor: $black;

  /*...................Forms.....................*/
  
  $inputBgColor: lighten($gray, 10%);
  $inputFont: $defaultFont;
  $inputFontSize: $defaultFontSize;
  $inputBorderRadius: $defaultBorderRadius;
  $inputBorder: none;
  $inputBgHover: #eee;
  $inputBgFocus: #eee;




/* ..-------------------------------------------------------...
  |                         FOOTER                             |
  |..--------------------------------------------------------..|*/

$footerBgColor: #eee;
$logoFooterSrc: '../img/logo-footer.png';
$logoFooterWidth: 173px;
$logoFooterHeight: 28px;
$footerFont: $defaultFont;
$footerFontSize: $defaultFontSize;
$footerMenuFont: $defaultFont;
$footerMenuFontSize: $defaultFontSize;
$footerMenuFontColor: $defaultFontColor;




/* ..-------------------------------------------------------...
  |                 ANIMATIONS & TRANSITIONS                   |
  |..--------------------------------------------------------..|*/

  $default-transition-property : all;
  $default-transition-duration : 0.2s;
  $default-transition-function : ease;    //[ ease | linear | ease-in | ease-out | ease-in-out | cubic-bezier(x1, y1, x2, y2)]
  $default-transition-delay    : false;


/* ..-------------------------------------------------------...
  |                 MODULE DEFINITION VARIABLES                |
  |..--------------------------------------------------------..|*/

  /** Bootstrap **/

  $baseLineHeight: 30px;
  $baseBorderRadius: 0;

  /** Breadcrumbs **/

  $breadcrumbLinkBg: #82C0FF;
  $breadcrumbLinkColor: $blue;
  $breadcrumbCurrentBg: #ddd;
  $breadcrumbCurrentColor: #AAAAAA;
  $breadcrumbStyle: Plain; // Triangle / Block / Diagonal / Rounded
  $breadcrumbFont: 13px sans-serif;
  $breadcrumbFontSize: 13px;

  /** Accordion **/

  $accordionHeaderBg: #229797;
  $accordionHeaderBorderRadius:5px 5px 0 0;
  $accordionHeaderColor: #fff;
  $accordionHeaderFont: bold 13px / 20px sans-serif;
  $accordionBodyBg: #fff;
  $accordionSubHeaderBg:#EDEDED;
  $accordionSubHeaderColor: $black;
  $accordionSubHeaderFont: bold 15px / 20px sans-serif;

/** Vertical Menu **/


  $vm-item-color:#6B6A67;
  $vm-item-bg:#EFEEE4;
  $vm-item-height:55px;
  $vm-border-color: #E6E5DB;
  $vm-border-width:1px;
  $vm-left-border-width:5px;

  $vm-menu-width: 300px;

  $vm-item1-color: #D6484C;
  $vm-item2-color: #3093D9;
  $vm-item3-color: #60AD5C;
  $vm-item4-color: #5A4195;
  $vm-item5-color: #2D4A9D;
  $vm-item6-color: #D88F36;
  $vm-item7-color: #904D50;
  $vm-item8-color: #539182;
  $vm-item9-color: #545454;